@import "../libs/lightslider/dist/css/lightslider.min.css";
///-Верх с формой///

.head-grab{
  background-image: url("../img/bg-grab-top.jpg");
  background-position: center center;
  background-size: cover;
}

.top-grab{
  p{
    color: #007236;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 34px 0px 0 0px;
    margin-left: 146px;
  }
  img{
    margin-top: 8px;
    margin-bottom: 9px;
    margin-left: 11px;
  }
}
.head-grab-green{
  background-image: url("../img/bg-grab-green.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 193px;
  h1{
    font-size: 36px;
    text-align: center;
    line-height: 51px;
    text-shadow: 3px 1px 1px black;
    padding: 12px 30px 0 30px;
  }
}
.head-grab-form{
  background-image: url("../img/bg-grab-form.jpg");
  background-position: center center;
  background-size: cover;
  *[class^=col]{
    padding: 0;
    margin: 0;
  }
}
.form-logo{
  display: none;
}
.form-orange-text{
  display: none;
  max-width: 650px;
  background-color: #f8941d;
  min-height: 200px ;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
  padding-top: 10px;
  &::after{
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500 ;
    bottom: -187px;
    left: 50%;
    margin-left: -145px;
  }
}
.form-green-text{
  display: none;
  max-width: 630px;
  min-height: 180px;
  border: 2px solid #007236;
  margin: 0 auto;
  p{
    text-align: center;
    font-size: 3.3vw;
    padding: 10px 50px;
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    line-height: 30px;
  }
}
.form-text{
  margin-top: 40px;
  margin-bottom: 80px;
}
.form-belive{
  display: none;
  img{
    display: block;
    margin: 0 auto;
  }
}
.form-zag{
  color: #007236;
  font-family: Calibri;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  margin: 98px 0 0 159px;
  letter-spacing: 0.9px;
}
.form-item{
  margin-top: 35px;
  p{
    font-size: 24px;
    display: inline-block;
    max-width: 480px;
    vertical-align: top;
    padding-left: 21px;
    padding-top: 2px;
    line-height: 24px;
    letter-spacing: 0px;

  }
}
.form-item_margin{
  margin-top: 46px;
}
.form-item_margin1{
  margin-top: 45px;
}
.form-item_margin2{
  margin-top: 47px;
}
.orange-item{
  min-width: 175px;
  min-height: 30px;
  text-align: right;
  font-family: "Myriad Pro";
  color: #007236;
  font-size: 24px;
  padding-right: 3px;
  font-weight: 400;
  background-color: #ff9500;
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
}
.form-shield{
  width: 433px;
  min-height: 484px;
  background-image: url("../img/forma.png");
  margin-top: 43px;
  margin-left: -40px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.form-h2{
  text-align: center;
  color: #790102;
  font-family: Calibri;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  padding: 21px 60px 0 60px;
}
.input-form{
  text-align: center;
  margin-top: 23px;
  input[type=text]{
    color: #9a9a9a;
    font-family: Calibri;
    font-size: 21px;
    font-weight: 400;
    display: inline-block;
    min-width: 303px;
    margin-bottom: 15px;
    padding-left: 7px;
    padding-top: 5px;
    border-bottom: 3px solid #e6d594;
    border-top: 3px solid #cdb169;
    border-left: 3px solid #cbae67;
    border-right: 3px solid #e0d09f;
    border-radius: 4px ;
  }
  p{
    color: #8e0001;
    font-size: 17.3px;
    text-align: left;
    display: inline-block;
    padding-left: 0px;
    vertical-align: middle;
    font-weight: normal;
    letter-spacing: -1.6px;
  }
  .checkbox-p{
    display: block;
    input[type=checkbox]{
      display: none;
    }

    div{
      display: inline-block;
      border-bottom: 3px solid #e6d594;
      border-top: 3px solid #cdb169;
      border-left: 3px solid #cbae67;
      border-right: 3px solid #e0d09f;
      border-radius: 4px;
      width: 25px;
      height: 25px;
      background: #fff;
      vertical-align: middle;
      margin-left: -4px;
      cursor: pointer;
    }
    input[type=checkbox]:checked + div{
      background: red;
    }
  }

}
.checkbox-p{
  margin: auto;
}
.button-red{
  width: 362px;
  height: 60px;
  background-image: url(../img/button.png);
  margin-left: 33px;
  margin-top: 13px;
  cursor: pointer;
  color: #fcfafa;
  font-family: Calibri;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  outline: 0;
  border: none;
  display: block;
  box-shadow: 25px 8px 4px -6px rgba(113, 119, 130, 0.81);
}

.grab-head-green.grab-head-green-height h1{
  line-height: 185px;
  padding: 0px 90px 0px 90px;
  letter-spacing: -0.7px;
}
//slider//

.slider-grab{
  min-height: 710px;
  background-image: url("../img/bg-slide.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-bg{
  min-height: 498px;
  margin: 0 auto;
  margin-top: 79px;
  position: relative;
  ul.lightSlider{
    li {
      padding: 0 40px;
      .slide-face{
        background-color: rgba(121, 135, 155, 0.44);
        margin: 0 20px;
        padding-bottom: 39px;
        width: 1034px;
        margin: auto;
      }
    }
  }
}
.slide-face {
  img {
    float: left;
    padding: 33px 0px 0px 42px;
    margin-right: 74px;
    margin-bottom: 50px;
  }
  p {
    color: black;
    font-size: 18px;
    line-height: 30px;
    padding: 29px 36px 0 36px;
    text-align: justify;
  }

  h3 {
    color: black;
    font-size: 18px;
    padding: 32px 56px 0px 0px;
    text-align: right;

  }
}
.footer-grab{
  min-height: 195px;
  background-image: url("../img/bg-green-footer.jpg");
}
.grab-footer-logo{
  img{
    margin: auto;
    display: block;
    padding-top: 22px;
  }
  p{
    text-align: center;
    color: white;
    font-family: Calibri;
    font-size: 32px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    padding-top: 15px;
    letter-spacing: 0.2px;
  }
}
.grab-footer-logo .visible-footer1{
  display: none;
}
@import "JekaMedia";