//media for grab baby!!/
/* medium Devices, Wide Screens */
@media only screen and (max-width : 1212px) {
  .top-grab {
    p{
      font-size: 1.4vw;
    }
  }
  .head-grab-green {
    h1{
      font-size: 2.4vw;
    }
  }
  .form-zag{
    margin-left: 70px;
  }
  .form-shield{
    margin: 43px auto;
    margin-bottom: 15px;
    background-repeat: no-repeat;

  }
  .orange-item{
    min-width: 96px;
  }
  .grab-head-green.grab-head-green-height{
    h1{
      font-size: 2.4vw;
      transform: scale(1,1.6);
      padding: 0;
    }
  }
  .slider-bg ul.lightSlider li .slide-face{
    width: 100%;
  }
  .lSAction>.lSPrev{
    left: 20px;
  }
  .lSAction>.lSNext{
    right: 20px;
  }
  .slide-face {
    img{
      width: 40%;
    }
    p{
      font-size: 2vw;
    }
  }
  .grab-footer-logo {
    p{
      font-size: 2.8vw;
    }
  }
}
@media only screen and (max-width : 992px){
  .top-grab{
    p{
      font-size: 1.5vw;
      margin-left: 20px;
    }
    img{
      margin-left: 100px;
    }
  }
  .orange-item{
    min-width: 170px;
  }
}
@media only screen and (max-width : 991px){
  .form-shield{
    width: 433px;
  }
  .slide-face{
    img{
    }
  }
}
@media only screen and (max-width : 816px){

  .head-grab{
    visibility: hidden;
    display: none;
  }
  .head-grab-green {
    h1{
      font-size: 3.5vw;
      padding: 50px 100px;
      line-height: 30px;
      -webkit-transform: scale(1, 1.3);
      -ms-transform: scale(1, 1.3);
      transform: scale(1, 1.3);
    }
  }
  .form-logo{
    display: block;
    img{
      margin: 0 auto;
      display: block;
      padding-top: 20px;
    }

  }

  .form-orange-text{
    display: block;

  }
  .form-green-text{
    display: block;
    margin: 0 20px;
  }
  .form-zag{
    font-size: 3.5vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
  }

  .orange-item{
    display: none;
  }
  .form-belive{
    display: block;
  }
  .form-item {
    p{
      display: block;
      text-align: center;
      max-width: 100%;
      br{
        display: none;
      }
    }
  }
}
@media only screen and (max-width : 670px){
  .form-orange-text{
    margin: 0 40px;
    margin-top: 15px;
    p{
      padding: 30px 10px;
      line-height: 24px;
      font-size: 5.4vw;
    }
  }
}
@media only screen and (max-width : 589px){
    .head-grab-green{
      h1{
        padding: 50px 80px;
        line-height: 20px;
      }
    }
  .slide-face {
    img{
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    p{
      font-size: 3.2vw;
      display: inline-block;
      text-align: justify;
      padding: 0;
      line-height: 15px;

    }
    h3{
      padding: 0;
      font-size: 14px;

    }
  }
  .grab-head-green.grab-head-green-height{
    h1{
      line-height: 30px;
      font-size: 6vw;
      padding: 70px 10px;
      letter-spacing: 0;
    }
  }

}
@media only screen and (max-width : 500px){
  .slide-face {
    img{
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    p{
      font-size: 3.2vw;
      display: inline-block;
      text-align: justify;
      padding: 0;
      line-height: 15px;

    }
    h3{
      padding: 0;
      font-size: 14px;

    }
  }
}
@media only screen and (max-width : 487px){
  .head-grab-green{
    h1{
      padding: 50px 50px;
      line-height: 19px;
    }
  }
  .form-orange-text::after{
    content: '';
    position: absolute;
    border: 120px solid transparent;
    border-top: 20px solid #ff9500;
    bottom: -140px;
    left: 60%;
    margin-left: -145px;
  }


}
@media only screen and (max-width : 435px){
  .head-grab-green {
    h1{
      font-size: 3.8vw;
      padding: 30px 30px;
      line-height: 18px;
      -webkit-transform: scale(1, 1.3);
      -ms-transform: scale(1, 1.3);
      transform: scale(1, 1.4);
    }
  }
  .form-orange-text{
    p{
      padding: 30px 0px;
      line-height: 19px;
      font-size: 4.6vw;
    }
  }
  .form-zag{
    font-size: 4.9vw;
  }
  .form-shield{
    *{
      transform: scale(0.89);
    }
    input[type=text]{
      transform: scale(1);
    }
  }
  .form-h2 {
     font-size: 5.8vw;
     padding: 10px 34px;
   }
  .input-form{
    margin-top: 0px;
    p{
      color: #8e0001;
      font-size: 12px;
      text-align: left;
      display: inline-block;
      padding-left: 0px;
      vertical-align: middle;
      font-weight: normal;
      letter-spacing: 0px;
      transform: scale(1,2.3);
    }
  }
  .input-form input[type=text]{
    min-width: 70%;
    padding-top: 0;
    height: 40px;
  }
  .button-red{
    width: inherit;
    font-size: 9.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    margin: 5px auto;
    -webkit-box-shadow: none;
    box-shadow: none;

  }
  .grab-head-green.grab-head-green-height {
    h1{
      line-height: 22px;
      font-size: 6vw;
      padding: 70px 10px;
      letter-spacing: 0;
    }
  }
  .slide-face {
    img{
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    p{
      font-size: 3.2vw;
      display: inline-block;
      text-align: justify;
      padding: 0;
      line-height: 15px;

    }
    h3{
      padding: 0;
      font-size: 14px;

    }
  }
  .grab-footer-logo {
    p{
      line-height: 15px;
      font-size: 3.8vw;

    }
  }
  .grab-footer-logo .visible-footer{
    display: none;
  }
  .grab-footer-logo .visible-footer1{
    display: block;
    width: 123px;
    height: 104px;
  }
}
@media only screen and (max-width : 432px){
  .form-shield{
    width: 100%;
  }
}
@media only screen and (max-width : 320px){

  .head-grab-green {
    h1{
      font-size: 3.8vw;
      padding: 30px 30px;
      line-height: 18px;
      -webkit-transform: scale(1, 1.3);
      -ms-transform: scale(1, 1.3);
      transform: scale(1, 1.4);
    }
  }
  .form-orange-text{
    max-width: 300px;
    p{
      padding: 30px 0px;
      line-height: 19px;
      font-size: 5vw;
    }
  }
  .form-green-text {
    display: block;
    margin: 0 10px;
  }
  .form-zag{
    font-size: 4.9vw;
  }
  .form-h2 {
    font-size: 23px;
    padding: 10px 34px;
  }
  .input-form{
    margin-top: 0px;
    p{
      color: #8e0001;
      font-size: 10px;
      text-align: left;
      display: inline-block;
      padding-left: 0px;
      vertical-align: middle;
      font-weight: normal;
      letter-spacing: 0px;
      transform: scale(1,2.3);
    }
  }
  .input-form .checkbox-p {
    div{
      margin-left: 0;
    }
  }
    .input-form input[type=text]{
      min-width: auto;
      margin-bottom: 10px;
      padding-top: 0;
      max-height: 30px;
    }
  .button-red{
    width: inherit;
    font-size: 31px;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    margin: 5px 20px;
    box-shadow: none;

  }
  .grab-head-green.grab-head-green-height {
    h1{
      line-height: 22px;
      font-size: 6vw;
      padding: 70px 10px;
      letter-spacing: 0;
    }
  }
  .slide-face {
    img{
      width: 100%;
      padding: 0;
    }
    p{
      font-size: 3.2vw;
      display: inline-block;
      text-align: justify;
      padding: 0;
      line-height: 15px;

    }
    h3{
      padding: 0;
      font-size: 14px;

    }
  }
  .grab-footer-logo {
      p{
        line-height: 15px;
        font-size: 3.8vw;

      }
  }
  .grab-footer-logo .visible-footer{
    display: none;
  }
  .grab-footer-logo .visible-footer1{
    display: block;
    width: 123px;
    height: 104px;
  }
}

//////////online-test////
@media only screen and (max-width : 807px){
  .row-online div[class=green-online1]{
    padding-left: 10px;
  }

}
@media only screen and (max-width : 735px){
  .cost-header__border{
    margin: 0 25px;
  }
  .test-header .cost-header__border_size{
    h2{
      font-size: 35px;
    }
  }
  .instruction .online-instruction {
    *{
      transform: scale(1);
    }
    p{
      font-size: 3vw;
    }
    span{
      font-size: 2.3vw;
      padding: 10px 25px;
      margin-top: 10px;
    }
  }
}
//////////online-test////
@media only screen and (max-width : 702px){

  .row-online {
    *{
      font-size: 16px;
    }
  }
}
@media only screen and (max-width : 628px){
  .instruction.instruction-size-test{
    padding: 0 20px 20px;
    margin: 0;
    p{
      font-size: 19px;
    }
  }
  .instruction.instruction-size{
    padding: 0 20px 20px;
  }
  .instruction .online-instruction {
    p{
      display: block;
      text-align: center;
      padding-left: 0;
      font-size: 3.4vw;
    }
    span{
      display: block;
      width:80%;
      margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      font-size: 4vw;
    }
  }
  .pull-right{
    float: none !important;
  }
}
@media only screen and (max-width : 584px){
}
@media only screen and (max-width : 522px){
  .row-online{
    *{
      font-size: 12px;
    }
  }
}
@media only screen and (max-width : 460px){

}
@media only screen and (max-width : 433px){
    .instruction.instruction-orange{
       margin: 57px 10px 0;
    }
  }

