/* ============================ form css =========================== */
.inner{
  max-width: 1280px;
  margin: 0 auto;
}
h1{
  color: #f8941d;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 0px 5px black;
}
h2{
  color: #00612b;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0px 0px 2px black;
}
.h2-thin {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}
h3{
  color: #006a30;
  font-size: 28px;
  font-weight: 700;
}
p{
  color: #007236;
  font-size: 20px;
  font-weight: 700;
}
.p-bold{
  color: #007236;
  font-size: 24px;
  font-weight: 700;
}
.p-thin{
  font-size: 18px;
  font-weight: 700;
}
.inline-block{
  display: inline-block;
}
.uppercase{
  text-transform: uppercase;
}
.orange{
  color: #f8941d;
}











/* ============================ form css media =========================== */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 320px) {

}