@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here
.remember__item{
  width: 41%;
  display: inline-block;
  vertical-align: top;
}
.remember__item_padding{
  margin-top: 30px;
}
.remember__item__h{
  border-top: 2px solid #063;
  border-bottom: 2px solid #063;
  width: 432px;
  margin-left: 113px;
  letter-spacing: 0.7px;
  padding: 20px 0px;
  h2{
    color: #660404;
  }
}
.remember{
  background-image: url("../img/raster/bg-grey.png");
  height: 285px;
  p{
    color: white;
    padding-top: 32px;
    padding-left: 116px;
    line-height: 26px;
  }
}
.remember__item__content{
  width: 502px;
  height: 226px;
  background-color: rgba(248,148,29,.65);
  margin-left: 221px;
  margin-top: 30px;
  padding-top: 10px;
}
.remember__item__free{
  width: 50%;
  height: 24%;
  padding-top: 8px;
  padding-left: 33px;
  background-color: #00672f;
  opacity: 1;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: -46px;
    bottom: 0px;
    border: 26px solid transparent;
    border-left: 20px solid #006726;
  }
  h2{
    color: #ff9500;
    letter-spacing: 0.4px;
  }
}
.remember__item__btn{
  background-image: url("../img/raster/btn-red.png");
  width: 74%;
  height: 54%;
  border: none;
  margin-left: 64px;
  margin-top: 20px;
  h2{
    color: white;
    font-size: 31px;
    padding-right: 9px;
  }
  span{
    font-size: 49px;

  }
}
.belive{
  background-image: url("../img/raster/bg-girl.png");
  width: 100%;
  height: 1604px;
  position: relative;
}
.belive__header{
  padding-top: 114px;
}
.header-overall{
  position: relative;
  h2{
    position: relative;
    z-index: 2;
    text-align: center;
    letter-spacing: 1.2px;
  }
  &:after{
    content: '';
    background-color: #ff9500;
    width: 88.2%;
    height: 109px;
    top: 87px;
    position: absolute;
  }
}
.belive__content_left{
  text-align: left;
  width: 100%;
  padding-left: 135px;
  padding-bottom: 26px;
}
.belive__content_right{
  text-align: right;
  padding-right: 132px;
}
.belive-padding{
  margin-top: 106px;
}
.belive__content_text{
  padding-left: 17px;
  letter-spacing: 0.7px;
  padding-right: 17px;
}
.personal{
  background-image: url("../img/raster/bg-blue.png");
  width: 100%;
  height: 884px;
  position: relative;
}
.personal__header{
  h2{
    top: -27px;
  }
  &:after{
    top: -52px;
  }
}
.personal__content{
  img{
    vertical-align: inherit;
  }
}
.personal__content-right{
  vertical-align: top;
  padding-top: 51px;
  padding-left: 42px;
  p{
    color: #2e3192;
  }
}
.personal__content-left{
  padding-left: 103px;
  padding-top: 85px;
}
.think-header{
  padding-top: 67px;
  h2{
    color: #ff9500;
  }
}
.think__content{
  background-image: url("../img/raster/think1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 831px;
  padding-top: 351px;
}
.think__content-overall{
  width: 49%;
  height: 77%;
  border: 1px solid #fdfbfb;
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: inset -4.2px 2.6px 103px rgba(0, 0, 0, 0.18);
  margin-left: 326px;
  text-align: center;
  p{
    color: white;
    padding-top: 31px;
    line-height: 31px;
  }
  span{
    color: #f8941d;
  }
}
.think2{
  background-image: url("../img/raster/think2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 854px;
  padding-top: 303px;
}
.think3{
  background-image: url("../img/raster/think3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 838px;
  padding-top: 371px;
}
.think4{
  background-image: url("../img/raster/think4.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 772px;
  padding-top: 242px;
}
.think2__item{
  width: 50%;
  height: 79%;
}
.think3__item{
  width: 49%;
  height: 75%;
}
.think4__item{
  width: 50%;
  height: 79%;
}
.understand-header{
  background-image: url("../img/raster/bg-flag2.png");
  width: 100%;
  height: 247px;
  text-align: center;
  padding-top: 20px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    right: 487px;
  }
}
.header__border-overall{
  border: 2px solid #00622c;
  margin: 0px 54px;
  h2{
    padding: 14px 0px;
    letter-spacing: 1.4px;
  }
}
.understand__content{
  background-image: url("../img/raster/bg-fractal.png");
  width: 100%;
  height: 703px;
  text-align: center;
  img{
    padding-top: 63px;
  }
  h2{
    color: #f58634;
    line-height: 43px;
    padding-top: 6px;
    letter-spacing: 1.8px;
  }
}
.main-header{
  h2{
    color: #ff9500;
    padding-top: 45px;
    line-height: 49px;
    letter-spacing: 1.4px;
  }
}
.main__content{
  background-image: url("../img/raster/skype-bg.png");
  width: 100%;
  height: 2356px;
}
.cost-header{
  background-image: url("../img/raster/bg-flag3.png");
  width: 100%;
  height: 188px;
  text-align: center;
  padding-top: 28px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    right: 487px;
  }
}
.cost-header__border{
  padding: 37px 0px;
  margin: 0 68px;
  h2{
    letter-spacing: 4px;
  }
}
.cost__content{
  background-image: url("../img/raster/bg-money.png");
  width: 100%;
  height: 2205px;
  text-align: center;
  padding-top: 129px;
}
.cost__content__item{
  width: 1004px;
  height: 137px;
  background-color: rgba(130, 130, 130, 0.18);
  border: 1px solid #fcf9f9;
  box-shadow: inset 0 0 51px rgba(0, 0, 0, 0.18);
  margin-left: 141px;
  padding-top: 10px;
  line-height: 37px;
  letter-spacing: 0.6px;
}


















//ALWAYS END
@import "media.scss";
@import "sketches.scss";