@import "bourbon";
@import "vars";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here
.remember__item{
  width: 41%;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}
.remember__item_padding{
  float: left;
  margin-left: 114px;
}
.remember__item_float{
  float: right;
  margin-right: 7px;
}
.remember__item__h{
  border-top: 2px solid #063;
  border-bottom: 2px solid #063;
  width: 82%;
  letter-spacing: 0.7px;
  padding: 20px 0px;
  h2{
    color: #660404;
  }
}
.remember{
  background-image: url("../img/raster/bg-grey.png");
  min-height: 285px;
  p{
    color: white;
    padding-top: 32px;
    line-height: 26px;
  }
}
.remember__item__content{
  width: 95.5%;
  height: 226px;
  background-color: rgba(248,148,29,.65);
  padding-top: 10px;
}
.remember__item__free{
  width: 50%;
  height: 24%;
  padding-top: 8px;
  padding-left: 33px;
  background-color: #00672f;
  opacity: 1;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: -46px;
    bottom: 0px;
    border: 26px solid transparent;
    border-left: 20px solid #006726;
  }
  h2{
    color: #ff9500;
    letter-spacing: 0.4px;
  }
}
.remember__item__btn{
  background-image: url("../img/raster/btn-red.png");
  background-size: cover;
  width: 74%;
  height: 54%;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 43px;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px 2px black;
  line-height: 35px;
  letter-spacing: 1px;
  span{
    font-size: 35px;
  }
}
.belive{
  background-image: url("../img/raster/bg-girl.png");
  width: 100%;
  height: 1604px;
  position: relative;
}
.belive__header{
  padding-top: 114px;
}
.header-overall{
  position: relative;
  h2{
    position: relative;
    z-index: 2;
    text-align: center;
    letter-spacing: 1.2px;
  }
  &:after{
    content: '';
    background-color: #ff9500;
    width: 88.2%;
    height: 109px;
    top: 87px;
    position: absolute;
  }
}
.belive__content{
  padding: 0 134px;
}
.belive__content_left{
  text-align: left;
  width: 100%;
  padding-bottom: 15px;
}
.belive__content_right{
  text-align: right;
  padding-bottom: 17px;
  &:after{
    content: "";
    clear: both;
    display: block;
  }
  .belive__content_img{
    float: right;
  }
  .belive__content_text{
    margin-top: 20px;
  }
}
.belive-padding{
  margin-top: 106px;
}
.belive__content_text{
  padding-left: 17px;
  letter-spacing: 0.7px;
  padding-right: 17px;
}
.personal{
  background-image: url("../img/raster/bg-blue.png");
  width: 100%;
  padding-bottom: 76px;
  position: relative;
}
.personal__header{
  h2{
    top: -27px;
  }
  &:after{
    top: -52px;
  }
}
.personal__content{
  img{
    vertical-align: inherit;
  }
}
.personal__content-right{
  vertical-align: top;
  padding-top: 51px;
  padding-left: 42px;
  display: inline-block;
  p{
    color: #2e3192;
    margin-bottom: 27px;
  }
}
.personal__content-left{
  padding-left: 103px;
  padding-top: 85px;
  display: inline-block;
}
.think-header{
  h2{
    color: #ff9500;
    padding: 68px 0;
  }
}
.think__content{
  background-image: url("../img/raster/think1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 831px;
  padding-top: 351px;
}
.think__content-overall{
  width: 49%;
  height: 77%;
  border: 1px solid #fdfbfb;
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: inset -4.2px 2.6px 103px rgba(0, 0, 0, 0.18);
  margin-left: 326px;
  text-align: center;
  p{
    color: white;
    padding-top: 31px;
    line-height: 31px;
  }
  span{
    color: #f8941d;
  }
}
.think2{
  background-image: url("../img/raster/think2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 854px;
  padding-top: 303px;
}
.think3{
  background-image: url("../img/raster/think3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 838px;
  padding-top: 371px;
}
.think4{
  background-image: url("../img/raster/think4.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 772px;
  padding-top: 242px;
}
.think2__item{
  width: 50%;
  height: 79%;
}
.think3__item{
  width: 49%;
  height: 75%;
}
.think4__item{
  width: 50%;
  height: 79%;
}
.understand-header{
  background-image: url("../img/raster/bg-flag2.png");
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    left: 50%;
    margin-left: -145px;
  }
}
.header__border-overall{
  border: 2px solid #00622c;
  margin: 0px 54px;
  h2{
    padding: 14px 0px;
    letter-spacing: 1.4px;
  }
}
.understand__content{
  background-image: url("../img/raster/bg-fractal.jpg");
  width: 100%;
  height: 703px;
  text-align: center;
  img{
    padding-top: 63px;
  }
  h2{
    color: #f58634;
    line-height: 43px;
    padding-top: 6px;
    letter-spacing: 1.8px;
  }
}
.main-header{
  h2{
    color: #ff9500;
    padding: 45px 0;
    line-height: 49px;
    letter-spacing: 1.4px;
  }
}
.main__content{
  background-image: url("../img/raster/skype-bg.png");
  width: 100%;
  height: 2356px;
  overflow: hidden;
  position: relative;
}
.main__content__item1{
  padding-left: 118px;
  padding-top: 155px;
  position: relative;
  h3{
    padding-bottom: 28px;
    &:after{
      content: '';
      position: absolute;
      background-color: #f8941d;
      width: 70.5%;
      height: 3.8%;
      top: 160px;
      left: -39%;
    }
  }
}
.main__content__item{
  h3{
    letter-spacing: 1.1px;
  }
  p{
    line-height: 30px;
  }
}
.main__content__item1__block{
  padding-top: 59px;
}
.main__content__item1__block__list{
  p{
    background-image: url(../img/raster/clip.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    padding-left: 36px;
  }
}
.main__content__item2{
  text-align: right;
  padding-top: 219px;
  padding-right: 138px;
  position: relative;
  min-height: 1083px;
  h3{
    padding-bottom: 28px;
    letter-spacing: 0.8px;
    &:after{
      content: '';
      position: absolute;
      background-color: #f8941d;
      width: 23.4%;
      height: 2.5%;
      top: 226px;
      right: 409px;
    }
  }
  p{
    padding-right: 7px;
  }
}
.main__content__item2__block{
  padding-top: 60px;
  margin-left: 74px;
  float: right;
  p{
    text-align: left;
  }
}
.main__content__skype1{
  position: absolute;
  top: 219px;
  right: 85px;
}
.main__content__skype2{
  position: absolute;
  top: 567px;
  left: 110px;
}
.personal__skype{
  p{
    position: relative;
    line-height: 25px;
    padding-left: 146px;
    padding-top: 7px;
    &:after{
      content: '';
      position: absolute;
      background-color: #f8941d;
      width: 50.7%;
      height: 118.9%;
      top: 0;
      left: 0;
    }
  }
}
.background-after{
  z-index: 2;
  position: relative;
}
.orange-background{
  background-color: #f8941d;
}
.cost-header{
  background-image: url("../img/raster/bg-flag3.png");
  width: 100%;
  height: 188px;
  text-align: center;
  padding-top: 28px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    left: 50%;
    margin-left: -145px;
  }
}
.cost-header__border{
  padding: 37px 0px;
  margin: 0 68px;
  h2{
    letter-spacing: 4px;
  }
}
.cost__content{
  background-image: url("../img/raster/bg-money.png");
  width: 100%;
  text-align: center;
  padding-top: 129px;
  padding-bottom: 103px;
}
.block-opacity-overall{
  background-color: rgba(130, 130, 130, 0.18);
  border: 1px solid #fcf9f9;
  box-shadow: inset 0 0 51px rgba(0, 0, 0, 0.18);
}
.cost__content__item{
  width: 78.5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  line-height: 37px;
  letter-spacing: 0.6px;
}
.cost__content__block{
  text-align: center;
  h3{
    letter-spacing: 1px;
  }
}
.cost__content__block_img1{
  margin: 70px auto;
  display: block;
}
.cost__content__block_img2{
  margin: 0 auto;
  display: block;
}
.cost__content__block__item{
  width: 69.2%;
  height: 156px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.cost__content__block__h3{
  h3{
    padding-top: 6px;
    line-height: 33px;
  }
}
.calculator-header{
  background-image: url("../img/raster/bg-flag4.png");
  width: 100%;
  padding-bottom: 18px;
  text-align: center;
  padding-top: 28px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    left: 50%;
    margin-left: -145px;
  }
}
.calculator-header__border{
  margin: 0px 71px;
  h3{
    text-shadow: 0px 0px 1px black;
  }
}
.calculator__content{
  background-image: url("../img/raster/bg-calculator.png");
  width: 100%;
  height: 1480px;
  padding-top: 130px;
}
.calculator__content__item{
  height: 566px;
}
.calculator__content__block{
  text-align: center;
  margin: 0 auto;
  background-color: rgba(248, 148, 29, 0.65);
  margin-top: 161px;
  width: 33%;
  height: 31.3%;
  padding-top: 56px;
  h3{
    padding: 8px 0;
    font-size: 30px;
    line-height: 42px;
  }
}
.calculator__content__block__border{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 49%;
  margin: 0 auto;
}
.calculator__button{
  background-image: url("../img/raster/btn-red-big.jpg");
  width: 119%;
  height: 116px;
  border: none;
  font-size: 43px;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px 2px black;
  line-height: 35px;
  margin-left: -42px;
  margin-top: 29px;
  letter-spacing: 1px;
  span{
    font-size: 35px;
  }
}




.steps{
  background: url(../img/raster/bg-steps.jpg);
  min-height: 3637px;
}
.steps__header{
  h2{
    top: -32px;
  }
  &:after{
    top: -58px;
  }
}
.step{
  min-height: 359px;
  position: relative;
  padding: 0 145px;
}
.step__counter{
  width: 178px;
  height: 188px;
  background: url("../img/raster/step-counter.png");
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -(178px/2);
  color: #f8941d;
  font-weight: bold;
  font-size: 130.3px;
  text-align: center;
  line-height: 161px;
  span{
    display: none;
  }
}
.step__text__header{
  background: url(../img/raster/mazok.png);
  width: 101px;
  height: 36px;
  color: #00622c;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 38px;
  text-indent: -9px;
  margin-left: -19px;
}
.step__text_left{
  padding-top: 47px;
}
.step__text_right{
  text-align: right;
  padding-top: 76px;
  .step__text__header{
    float: right;
    margin-left: 0;
    margin-right: -16px;
    text-indent: 10px;
    &:after{
      clear: both;
      content: "";
    }
  }
}
.step__counter1{
  top: 205px;
}
.step__counter2{
  top: 228px;
}
.step__counter3{
  top: 244px;
}
.step__counter4{
  top: 266px;
}
.step__counter5{
  top: 283px;
}
.step__counter6{
  top: 306px;
}
.step__counter7{
  top: 327px;
}
.step__counter8{
  top: 352px;
}
.step__text_padding6{
  padding-top: 131px;
}
.step__text_padding7{
  padding-top: 172px;
}
.step__text_padding8{
  padding-top: 200px;
}
.slider-grab.slider-grab_bg{
  background-image: url("../img/raster/bg-taxi.jpg");
  width: 100%;
  min-height: 795px;
}
.slider-grab__header{
  h2{
    top: -20px;
    line-height: 36px;
  }
  &:after{
    top: -51px;
    height: 123px;
  }
}
.slider-bg.slider-bg_margin{
  margin-top: 91px;
}

//ALWAYS END

@import "sketches";
@import "media";
@import "Jeka";