@import url(../libs/lightslider/dist/css/lightslider.min.css);
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.remember {
  background-image: url("../img/raster/bg-grey.png");
  height: 285px;
  padding-top: 30px; }

.remember__item {
  width: 555px; }

.remember__item__h {
  border-top: 2px solid #063;
  border-bottom: 2px solid #063;
  width: 432px;
  margin-left: 113px;
  letter-spacing: 0.7px;
  padding: 20px 0px; }
  .remember__item__h h2 {
    color: #660404; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* ============================ form css =========================== */
.inner {
  max-width: 1280px;
  margin: 0 auto; }

h1 {
  color: #f8941d;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase; }

h2 {
  color: #00612b;
  font-size: 40px;
  font-weight: 700; }

.h2-thin {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase; }

h3 {
  color: #006a30;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase; }

p {
  color: #007236;
  font-size: 20px;
  font-weight: 700; }

.p-bold {
  color: #007236;
  font-size: 24px;
  font-weight: 700; }

.p-thin {
  font-size: 18px;
  font-weight: 700; }

.inline-block {
  display: inline-block; }

/* ============================ form css media =========================== */
.head-grab {
  background-image: url("../img/bg-grab-top.jpg");
  background-position: center center;
  background-size: cover; }

.top-grab p {
  color: #007236;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 35px 0px 0 0px;
  margin-left: 160px; }

.top-grab img {
  margin-top: 8px;
  margin-bottom: 9px; }

.head-grab-green {
  background-image: url("../img/bg-grab-green.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 193px; }
  .head-grab-green h1 {
    font-size: 29px;
    text-align: center;
    line-height: 45px;
    text-shadow: 3px 1px 1px black;
    padding: 0 140px 0 140px; }

.head-grab-form {
  background-image: url("../img/bg-grab-form.jpg");
  background-position: center center;
  background-size: cover; }
  .head-grab-form *[class^=col] {
    padding: 0;
    margin: 0; }

.form-text {
  margin-top: 40px;
  margin-bottom: 40px; }

.form-zag {
  color: #007236;
  font-family: Calibri;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  margin: 108px 0 0 159px; }

.form-item {
  margin-top: 35px; }
  .form-item p {
    font-size: 24px;
    display: inline-block;
    max-width: 480px;
    vertical-align: top;
    padding-left: 25px; }

.orange-item {
  min-width: 175px;
  min-height: 30px;
  text-align: right;
  font-family: "Myriad Pro";
  color: #007236;
  font-size: 24px;
  padding-right: 7px;
  font-weight: 400;
  background-color: #ff9500;
  display: inline-block;
  vertical-align: top; }

.form-shield {
  width: 433px;
  height: 484px;
  background-image: url("../img/forma.png");
  margin-top: 50px; }

.form-h2 {
  text-align: center;
  color: #8e0001;
  font-family: Calibri;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  padding: 22px 60px 0 60px; }

.input-form {
  text-align: center;
  margin-top: 23px; }
  .input-form input[type=text] {
    color: #9a9a9a;
    font-family: Calibri;
    font-size: 21px;
    font-weight: 400;
    display: inline-block;
    min-width: 303px;
    margin-bottom: 17px;
    padding-left: 11px;
    border-bottom: 3px solid #e6d594;
    border-top: 3px solid #cdb169;
    border-left: 3px solid #cbae67;
    border-right: 3px solid #e0d09f;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .input-form p {
    color: #8e0001;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    padding-left: 11px;
    vertical-align: middle; }
  .input-form .checkbox-p {
    display: block; }
    .input-form .checkbox-p input[type=checkbox] {
      display: none; }
    .input-form .checkbox-p div {
      display: inline-block;
      border-bottom: 3px solid #e6d594;
      border-top: 3px solid #cdb169;
      border-left: 3px solid #cbae67;
      border-right: 3px solid #e0d09f;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      background: #fff;
      vertical-align: middle;
      margin-left: -29px; }
    .input-form .checkbox-p input[type=checkbox]:checked + div {
      background: red; }

.checkbox-p {
  margin: auto; }

.button-red {
  width: 362px;
  height: 60px;
  background-image: url("../img/button.png");
  margin-left: 33px;
  margin-top: 10px;
  cursor: pointer;
  color: #fcfafa;
  font-family: Calibri;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase; }

.grab-head-green.grab-head-green-height h1 {
  line-height: 165px; }

.slider-grab {
  min-height: 710px;
  background-image: url("../img/bg-slide.jpg");
  position: relative; }

.slider-bg {
  max-width: 1034px;
  min-height: 498px;
  background-color: #fff;
  opacity: 0.37;
  margin: 0 auto;
  margin-top: 79px; }
