*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.remember__item {
  width: 41%;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px; }

.remember__item_padding {
  float: left;
  margin-left: 114px; }

.remember__item_float {
  float: right;
  margin-right: 7px; }

.remember__item__h {
  border-top: 2px solid #063;
  border-bottom: 2px solid #063;
  width: 82%;
  letter-spacing: 0.7px;
  padding: 20px 0px; }
  .remember__item__h h2 {
    color: #660404; }

.remember {
  background-image: url("../img/raster/bg-grey.png");
  height: 285px; }
  .remember p {
    color: white;
    padding-top: 32px;
    line-height: 26px; }

.remember__item__content {
  width: 95.5%;
  height: 226px;
  background-color: rgba(248, 148, 29, 0.65);
  padding-top: 10px; }

.remember__item__free {
  width: 50%;
  height: 24%;
  padding-top: 8px;
  padding-left: 33px;
  background-color: #00672f;
  opacity: 1;
  position: relative; }
  .remember__item__free:after {
    content: '';
    position: absolute;
    right: -46px;
    bottom: 0px;
    border: 26px solid transparent;
    border-left: 20px solid #006726; }
  .remember__item__free h2 {
    color: #ff9500;
    letter-spacing: 0.4px; }

.remember__item__btn {
  background-image: url("../img/raster/btn-red.png");
  width: 74%;
  height: 54%;
  border: none;
  margin-left: 64px;
  margin-top: 20px; }
  .remember__item__btn h2 {
    color: white;
    font-size: 31px;
    padding-right: 9px; }
  .remember__item__btn span {
    font-size: 49px; }

.belive {
  background-image: url("../img/raster/bg-girl.png");
  width: 100%;
  height: 1604px;
  position: relative; }

.belive__header {
  padding-top: 114px; }

.header-overall {
  position: relative; }
  .header-overall h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    letter-spacing: 1.2px; }
  .header-overall:after {
    content: '';
    background-color: #ff9500;
    width: 88.2%;
    height: 109px;
    top: 87px;
    position: absolute; }

.belive__content_left {
  text-align: left;
  width: 100%;
  padding-left: 135px;
  padding-bottom: 26px; }

.belive__content_right {
  text-align: right;
  padding-right: 132px; }

.belive-padding {
  margin-top: 106px; }

.belive__content_text {
  padding-left: 17px;
  letter-spacing: 0.7px;
  padding-right: 17px; }

.personal {
  background-image: url("../img/raster/bg-blue.png");
  width: 100%;
  padding-bottom: 76px;
  position: relative; }

.personal__header h2 {
  top: -27px; }

.personal__header:after {
  top: -52px; }

.personal__content img {
  vertical-align: inherit; }

.personal__content-right {
  vertical-align: top;
  padding-top: 51px;
  padding-left: 42px;
  display: inline-block; }
  .personal__content-right p {
    color: #2e3192; }

.personal__content-left {
  padding-left: 103px;
  padding-top: 85px;
  display: inline-block; }

.think-header {
  padding-top: 67px; }
  .think-header h2 {
    color: #ff9500; }

.think__content {
  background-image: url("../img/raster/think1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 831px;
  padding-top: 351px; }

.think__content-overall {
  width: 49%;
  height: 77%;
  border: 1px solid #fdfbfb;
  background-color: rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: inset -4.2px 2.6px 103px rgba(0, 0, 0, 0.18);
  box-shadow: inset -4.2px 2.6px 103px rgba(0, 0, 0, 0.18);
  margin-left: 326px;
  text-align: center; }
  .think__content-overall p {
    color: white;
    padding-top: 31px;
    line-height: 31px; }
  .think__content-overall span {
    color: #f8941d; }

.think2 {
  background-image: url("../img/raster/think2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 854px;
  padding-top: 303px; }

.think3 {
  background-image: url("../img/raster/think3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 838px;
  padding-top: 371px; }

.think4 {
  background-image: url("../img/raster/think4.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 772px;
  padding-top: 242px; }

.think2__item {
  width: 50%;
  height: 79%; }

.think3__item {
  width: 49%;
  height: 75%; }

.think4__item {
  width: 50%;
  height: 79%; }

.understand-header {
  background-image: url("../img/raster/bg-flag2.png");
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  position: relative; }
  .understand-header:after {
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    left: 50%;
    margin-left: -145px; }

.header__border-overall {
  border: 2px solid #00622c;
  margin: 0px 54px; }
  .header__border-overall h2 {
    padding: 14px 0px;
    letter-spacing: 1.4px; }

.understand__content {
  background-image: url("../img/raster/bg-fractal.png");
  width: 100%;
  height: 703px;
  text-align: center; }
  .understand__content img {
    padding-top: 63px; }
  .understand__content h2 {
    color: #f58634;
    line-height: 43px;
    padding-top: 6px;
    letter-spacing: 1.8px; }

.main-header h2 {
  color: #ff9500;
  padding-top: 45px;
  line-height: 49px;
  letter-spacing: 1.4px; }

.main__content {
  background-image: url("../img/raster/skype-bg.png");
  width: 100%;
  height: 2356px; }

.cost-header {
  background-image: url("../img/raster/bg-flag3.png");
  width: 100%;
  height: 188px;
  text-align: center;
  padding-top: 28px;
  position: relative; }
  .cost-header:after {
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    left: 50%;
    margin-left: -145px; }

.cost-header__border {
  padding: 37px 0px;
  margin: 0 68px; }
  .cost-header__border h2 {
    letter-spacing: 4px; }

.cost__content {
  background-image: url("../img/raster/bg-money.png");
  width: 100%;
  text-align: center;
  padding-top: 129px;
  padding-bottom: 103px; }

.block-opacity-overall {
  background-color: rgba(130, 130, 130, 0.18);
  border: 1px solid #fcf9f9;
  -webkit-box-shadow: inset 0 0 51px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 0 51px rgba(0, 0, 0, 0.18); }

.cost__content__item {
  width: 78.5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  line-height: 37px;
  letter-spacing: 0.6px; }

.cost__content__block {
  text-align: center; }
  .cost__content__block h3 {
    letter-spacing: 1px; }

.cost__content__block_img1 {
  margin: 70px auto;
  display: block; }

.cost__content__block_img2 {
  margin: 0 auto;
  display: block; }

.cost__content__block__item {
  width: 69.2%;
  height: 156px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto; }

.cost__content__block__h3 h3 {
  padding-top: 6px;
  line-height: 33px; }

.calculator-header {
  background-image: url("../img/raster/bg-flag4.png");
  width: 100%;
  padding-bottom: 18px;
  text-align: center;
  padding-top: 28px;
  position: relative; }
  .calculator-header:after {
    content: '';
    position: absolute;
    border: 149px solid transparent;
    border-top: 38px solid #ff9500;
    bottom: -187px;
    left: 50%;
    margin-left: -145px; }

.calculator-header__border {
  margin: 0px 71px; }
  .calculator-header__border h3 {
    text-shadow: 0px 0px 1px black; }

.calculator__content {
  background-image: url("../img/raster/bg-calculator.png");
  width: 100%;
  height: 1480px;
  padding-top: 130px; }

.calculator__content__item {
  height: 566px; }

.steps {
  background: url(../img/raster/bg-steps.jpg);
  min-height: 3637px; }

.steps__header h2 {
  top: -32px; }

.steps__header:after {
  top: -58px; }

.step {
  min-height: 359px;
  position: relative;
  padding: 0 145px; }

.step__counter {
  width: 178px;
  height: 188px;
  background: url("../img/raster/step-counter.png");
  position: absolute;
  bottom: 0;
  top: 260px;
  left: 50%;
  margin-left: -89px;
  color: #f8941d;
  font-weight: bold;
  font-size: 130.3px;
  text-align: center;
  line-height: 161px; }
  .step__counter span {
    display: none; }

.step__text__header {
  background: url(../img/raster/mazok.png);
  width: 101px;
  height: 36px;
  color: #00622c;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 38px;
  text-indent: -9px;
  margin-left: -19px; }

.step__text_left {
  padding-top: 110px; }

.step__text_right {
  text-align: right;
  padding-top: 110px; }
  .step__text_right .step__text__header {
    float: right;
    margin-left: 0;
    margin-right: -16px;
    text-indent: 10px; }
    .step__text_right .step__text__header:after {
      clear: both;
      content: ""; }

.step__text p {
  text-transform: uppercase; }

/* ============================ form css =========================== */
.inner {
  max-width: 1280px;
  margin: 0 auto; }

h1 {
  color: #f8941d;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 0px 5px black; }

h2 {
  color: #00612b;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0px 0px 2px black; }

.h2-thin {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase; }

h3 {
  color: #006a30;
  font-size: 28px;
  font-weight: 700; }

p {
  color: #007236;
  font-size: 20px;
  font-weight: 700; }

.p-bold {
  color: #007236;
  font-size: 24px;
  font-weight: 700; }

.p-thin {
  font-size: 18px;
  font-weight: 700; }

.inline-block {
  display: inline-block; }

.uppercase {
  text-transform: uppercase; }

/* ============================ form css media =========================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .remember__item__free h2 {
    letter-spacing: 0px;
    font-size: 28px; }
  .personal__content-left {
    display: block;
    padding: 75px 0px; }
  .personal__content-right {
    padding: 0; }
  .personal__content {
    text-align: center; }
  p {
    font-size: 15px; }
  .think__content-overall {
    margin: 0 auto; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .header-overall h2 {
    font-size: 33px; } }

@media only screen and (max-width: 992px) {
  .header-flag h1 {
    font-size: 29px; }
  .remember__item__free {
    padding-left: 14px; }
  .remember__item__btn {
    margin-left: 45px; }
  .remember__item__h h2 {
    font-size: 33px; }
  .belive__content_right {
    padding-right: 35px; }
  .belive__content_left {
    padding-left: 35px; }
  .remember__item_padding {
    margin-left: 30px; }
  h2 {
    font-size: 36px; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
